@charset "utf-8";
.ui-draggable-dragging {
  z-index: 10000 !important
}

.ui-draggable {
  z-index: 10;
}

.titles {
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'ZCOOL XiaoWei', serif;
}

#choicepage, #choicepage99 {
  text-align: center;
}

#choosecity, #choosesuburb, #choosecity99, #choosesuburb99 {
  width: 400px;
  height: 400px;
  padding-right: 30px;
  margin: auto;
  cursor: pointer;
  opacity: 0.7
}

#choosecity:hover {
  opacity: 1
}

#choosesuburb:hover {
  opacity: 1
}

#choosecity99:hover {
  opacity: 1
}

#choosesuburb99:hover {
  opacity: 1
}

.chuxian {
  position: absolute;
  left: 23vw;
  width: 30vw;
}

#drag, #drag99 {
  width: 30vw;
}

#dragsuburb, #dragsuburb99 {
  width: 250px
}

/*		小游戏每一步小标题的样式*/
.aaa {
  font-family: 'Noto Serif SC', serif;
  margin-left: 20px;
  line-height: 34px;
}

#图标区1, #图标区199 {}

#图标区2, #图标区299 {}

#图标区2-2, #图标区2-299 {}

#图标区3, #图标区399 {}

#农村图标区1, #农村图标区199 {}

#农村图标区2, #农村图标区299 {}

.icons {
  float: left;
}

.icons1 {
  width: 150px;
  height: 150px;
}

.icons2 {
  width: 200px;
}

.icons3 {
  width: 120px;
}

.iconssuburb {
  width: 100px;
  height: 100px;
  float: left;
}

.background {
  position: absolute;
  z-index: -1;
  display: block;
  margin-left: 50vw;
  width: 400px;
  margin-top: auto;
}

.tuceng {
  display: block;
  position: absolute;
  z-index: 1;
  opacity: 0;
  margin-left: 50vw;
  width: 400px;
  margin-top: auto;
}
#tuceng-cang,#tuceng-cang99{
			z-index: 100;
		}
#tijiao，#tijiao99 {
  display: block;
  position: absolute;
  left: 380px;
  top: 270px;
}

#tijiao2，#tijiao299 {
  display: block;
  position: absolute;
  left: 350px;
  top: 350px;
}

.pandingbiaoti {
	width: 100%;
	margin:0 auto;
  height: auto
}

.chongjian {
  margin: auto;
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  border-radius: 12px;
  font-size: 15px;
  margin-left: 1%;
}

.chongjian:hover {
  background-color: #e7e7e7;
}

.jieshiniu {
  margin: auto;
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  border-radius: 12px;
  font-size: 15px;
  margin-left: 1%;
}

.jieshiniu:hover {
  background-color: #e7e7e7;
}

/*悬浮框的样式*/
.ui-tooltip, .arrow:after {
  background: black;
  border: 2px solid white;
}

.ui-tooltip {
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  font: bold 14px "Helvetica Neue", Sans-Serif;
  text-transform: uppercase;
  box-shadow: 0 0 7px black;
}

.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}

.arrow.top {
  top: -16px;
  bottom: auto;
}

.arrow.left {
  left: 20%;
}

.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  tranform: rotate(45deg);
}

.arrow.top:after {
  bottom: -20px;
  top: auto;
}
